<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1> <%= day %>  </h1>
    <ul>
        <% tasks.forEach(element => { %>
            <li><%= element %> </li>
        <% }) %>
    </ul>

    <form action="/" method="post">
        <input type="text" name="task" placeholder="Enter task name.">
        <button type="submit">Add task</button>
    </form>
</body>
</html>